body {
  margin: 0%;
}
section,
header,
footer {
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-around;
}

.col {
  width: 100%;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px 10px;
  border: 1px solid #f1f2f3;
}
/*
.row .col:nth-child(1) {
  background-color: rgb(40, 147, 246);
}

.row .col:nth-child(2) {
  background-color: rgb(143, 213, 216);
}

.row .col:nth-child(3) {
  background-color: rgb(216, 188, 143);
}

.row .col:nth-child(4) {
  background-color: rgb(228, 79, 128);
}

.row .col:nth-child(5) {
  background-color: rgb(216, 143, 212);
}

.row .col:nth-child(6) {
  background-color: rgb(166, 216, 143);
}

.row .col:nth-child(7) {
  background-color: rgb(58, 197, 209);
}

.row .col:nth-child(8) {
  background-color: rgb(78, 192, 103);
}
*/

/*inicio da sessão header*/
header {
}

header ul {
  display: flex;
  justify-content: flex-end;
}

header li {
  font-family: "Open Sans";
  margin: 0 15px;
  font-weight: 600;
  letter-spacing: 0.1px;
  font-size: 15px;
}

header .container .row .col .cons ul {
  list-style: none;
}

header .container .row .col img {
  margin-top: -30px;
}

header .container .col .cons ul {
  margin-top: -5px;
}

/*Fim  da sessão header*/

/*Inicio da sessão seguranca */
#seguranca {
  color: white;
  height: 500px;
  background-position: center center;
  margin-top: -100px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/post-07.jpg) fixed;
  background-size: 100%;
  letter-spacing: 0.1px;
  padding: 100px 20px 120px;
}

#seguranca .texto h1 {
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 110%;
  color: #ffffff;
  white-space: pre-line;
  text-align: center;
  font-size: 5em;
  padding: 0 122px;
  margin-bottom: 0;
}

#seguranca .texto p {
  font-family: "opens Sans";
  color: #ffffff;
  font-size: 21px;
  letter-spacing: 0.1px;
  line-height: 125%;
  text-align: center;
  font-weight: 600;
}

#seguranca .row {
  margin-top: 29px;
  justify-content: space-around;
}

#seguranca .row .col {
  text-align: center;
  margin: 0px 0px 20px 0px;
  font-family: open-sans;
  letter-spacing: 0.1px;
  line-height: 125%;
  color: #1e1c27;
}

#seguranca .container .row .col.cards h1 {
  font-family: Open Sans;
  letter-spacing: 0.1px;
  line-height: 125%;
  font-size: 15px;
  padding: 0 74px;
  font-size: 1.4em;
  padding-bottom: 15px;
  padding-top: 25px;
}

#seguranca .container .row .col.cards h2 {
  font-family: Open Sans;
  letter-spacing: 0.1px;
  line-height: 125%;
  font-size: 15px;
  padding: 0 31px;
  font-size: 1.4em;
  padding-left: 25px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-top: 25px;
}

#seguranca .container .row .col.cards p {
  color: #7e8485;
  padding: 27px;
  font-size: 16px;
  padding-top: 0%;
}

#seguranca .container .row .col.cards {
  width: 365px;
  padding: 0%;
}

#seguranca .container .row .col.cards img {
  width: 100%;
}

/* Fim da sessão #seguranca */

/*Inicio da sessão compromisso */
#compromisso {
  margin-top: 457px;
}

#compromisso .container .row .coltexto {
  margin-right: 115px;
}

#compromisso .container .row .colimg img {
  background-color: red;
  border-left: 3px solid rgba(39, 52, 69, 1);
}

#compromisso .container .row .coltexto h1 {
  font-family: "open Sans";
  font-weight: 300;
  letter-spacing: -0.1px;
  font-size: 3em;
  line-height: 110%;
}

#compromisso .container .row .coltexto p {
  font-family: "opens Sans";
  color: #7e8485;
  margin: 0 0 1.3em;
  letter-spacing: 0.1px;
  font-size: 15px;
  font-weight: normal;
  line-height: 150%;
}

#compromisso .container .row .coltexto strong {
  color: #1e1c27;
  letter-spacing: 0.1px;
  font-size: 15px;
  line-height: 150%;
}

#compromisso .container .row {
  width: 100%;
}

#compromisso .container .coltexto .saibamais span {
  background-color: red;
  background-image: none;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 15px;
  line-height: 100%;
  border: solid 1px rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: -1170px;
  left: 76px;
  border-left: 3px solid rgba(39, 52, 69, 1);
  color: #ffffff;
}

#compromisso .container .coltexto .saibamais {
  background-color: black;
}

#compromisso .container .row .colimg .row .col h1 {
  font-family: "opens Sans";
  color: #1e1c27;
  margin: 0px 0px 20px 0px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 125%;
  font-size: 1.4em;
}

#compromisso .container .row .colimg .row .col p{
  font-family: "opens Sans";
  color: #7e8485;
  margin: 0 0 1,3em;
  letter-spacing: 0.1px;
  font-size: 15px;
  line-height: 150%;
  padding: 0;
}

/* Fim da sessão compromisso */

/*Inicio da sessão diferenciados */

.diferenciados {
  background-color: rgb(39, 52, 69, 1);
  padding-top: 90px;
  padding-bottom: 80px;
  border-top: 20px solid rgb(230, 230, 230, 1);
  margin: -8px;
}

.diferenciados .container .row .col h1 {
  font-family: "open Sans";
  font-weight: 300;
  letter-spacing: -0.1px;
  font-size: 3em;
  line-height: 110%;
  color: #ffffff;
}

.diferenciados .container .row .col h2 {
  font-family: "open Sans";
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 140%;
  color: #ffffff;
  font-size: 1.2em;
}

.diferenciados .container .row .col h3 {
  font-family: "open Sans";
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 125%;
  font-size: 1.4em;
  margin: 0px 0px 20px 0px;
}

.diferenciados .container .row .col .card {
  background-color: #ffffff;
  padding-top: 25%;
}

.diferenciados .container .row .col .card{
  padding-bottom: 10px;
  padding: 0px;
}
/* Fim da sessão diferenciados */
