section,
header,
footer {
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #445261;
}

.container {
  width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-around;
}

.col {
  width: 100%;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px 10px;
  border: 1px solid #f1f2f3;
}

.row .col:nth-child(1) {
  background-color: rgb(40, 147, 246);
}

.row .col:nth-child(2) {
  background-color: rgb(143, 213, 216);
}

.row .col:nth-child(3) {
  background-color: rgb(216, 188, 143);
}

.row .col:nth-child(4) {
  background-color: rgb(228, 79, 128);
}

.row .col:nth-child(5) {
  background-color: rgb(216, 143, 212);
}

.row .col:nth-child(6) {
  background-color: rgb(166, 216, 143);
}

.row .col:nth-child(7) {
  background-color: rgb(58, 197, 209);
}

.row .col:nth-child(8) {
  background-color: rgb(78, 192, 103);
}

ul {
  list-style: none;
}

/*inicio da sessão*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

header ul {
  display: flex;
  justify-content: flex-end;
}

header li {
  font-family: "Open Sans";
  margin: 0 15px;
  font-weight: 600;
  letter-spacing: 0.1px;
  font-size: 15px;
}

/*Fim  da sessão*/

/*Inicio da sessão seguranca */
#seguranca {
  color: white;
  height: 500px;
  background-image: url(../img/background.jpg);
  background-position: center;
  margin-top: -100px;
}

#seguranca .texto h1 {
  font-family: Open Sans;
  font-weight: 600;
  line-height: 110%;
  margin: 0%;
  color: #ffffff;
  white-space: pre-line;
  text-align: center;
  font-size: 5em;
  padding: 0 122px;
}

#seguranca .texto p {
  font-family: opens Sans;
  color: #ffffff;
  font-size: 1.4em;
  letter-spacing: 0.1px;
  line-height: 125%;
  text-align: center;
  font-weight: 600;
}

#seguranca .row {
  margin-top: 29px;
  justify-content: space-around;
}

#seguranca .row .col {
  text-align: center;
  margin: 0px 0px 20px 0px;
  font-family: open-sans;
  letter-spacing: 0.1px;
  line-height: 125%;
  color: #1e1c27;
}

#seguranca .container .row .col.cards h1 {
  font-family: Open Sans;
  letter-spacing: 0.1px;
  line-height: 125%;
  font-size: 15px;
  padding: 0 74px;
  font-size: 1.4em;
  padding-left: 25px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-top: 25px;
}

#seguranca .container .row .col.cards h2 {
  font-family: Open Sans;
  letter-spacing: 0.1px;
  line-height: 125%;
  font-size: 15px;
  padding: 0 31px;
  font-size: 1.4em;
  padding-left: 25px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-top: 25px;
}

#seguranca .container .row .col.cards p {
  color: #7e8485;
  padding: 27px;
  font-size: 16px;
}

#seguranca .container .row .col.cards {
  width: 365px;
  padding: 0%;
}

#seguranca .container .row .col.cards img {
  width: 100%;
}

/* Fim da sessão#seguranca */

/*Inicio da sessão compromisso */
#compromisso {
  margin-top: 457px;
}

#compromisso .container .row .coltexto {
}

#compromisso .container .row .colimg {
}

#compromisso .container .row .coltexto h1 {
  font-family: "open Sans";
  font-weight: 300;
  letter-spacing: -0.1px;
  font-size: 3em;
  line-height: 110%;
}

#compromisso .container .row .coltexto p {
  font-family: opens Sans;
  color: #7e8485;
  margin: 0 0 1.3em;
  letter-spacing: 0.1px;
  font-size: 15px;
  font-weight: normal;
  line-height: 150%;
}

#compromisso .container .row .coltexto strong {
  color: #1e1c27;
  letter-spacing: 0.1px;
  font-size: 15px;
  line-height: 150%;
}

#compromisso .container .row {
  width: 100%;
}

/* Fim da sessão compromisso */
